# Let's image for a moment this is the real sshd_config file

#   See PATTERNS in ssh_config(5) for more information on patterns.
AllowGroups {{if .AllowGroups}}{{.GroupsToAllow}}{{else}}""{{end}}

# Port
#   Specifies the port number that sshd(8) listens on.  The default is 22.
#   Multiple options of this type are permitted.  See also ListenAddress.
#   [ Puppet default is: 22 ]
Port {{.PortNumber}}

# Some other comment
Hostname {{.Hostname}}
